#!/usr/bin/env perl
# Copyright (C) 2026 Daniele Stefano Continenza <daniele@dascos.info>
# SPDX-License-Identifier: AGPL-3.0-or-later

# ESEMPIO NON CARICATO / UNLOADED EXAMPLE
#
# Copiare questo file come 900-my-custom-rule.pm per attivarlo.
# Copy this file as 900-my-custom-rule.pm to enable it.
#
# Il modulo deve restituire un hash con:
#   name             identificatore univoco, lettere/numeri/underscore
#   description      spiegazione leggibile
#   priority         numero intero; i numeri più bassi vengono provati prima
#   default_policy   off, permanent, 30m, 4h, 3d, 2w...
#   detect           funzione che restituisce una signature oppure undef
#
# Validazione:
#   perl -c 900-my-custom-rule.pm
#   sudo reactive-web-validate

use strict;
use warnings;

return {
    name => 'my_custom_rule',
    description => 'Example custom rule',
    priority => 900,
    default_policy => '1h',
    detect => sub {
        my ($c) = @_;
        return 'example-signature' if $c->{decoded_path} eq '/certainly-malicious-example';
        return undef;
    },
};
