# Copyright (C) 2026 Daniele Stefano Continenza <daniele@dascos.info>
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Reactive Web Firewall local nftables bridge
Wants=network-online.target
After=network-online.target
Before=reactive-web-ban.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/reactive-web-fastban reload
ExecReload=/usr/local/sbin/reactive-web-fastban reload
ExecStop=/usr/local/sbin/reactive-web-fastban stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
